$main-color: #142dad;
$accent-color: #ee93fd;
$marker-color: #54D8AF;
$text-color: #2B335A;
$text-hovered: #556098;
$accent-color: #54D8AF;

$notebook-width: 1199px;
$tablet-width: 991px;
$mobile-width: 767px;
$xs-mobile-width: 575px;
