.header__nav {
  display: none;

}


.hamburger-icon-container {
  position: relative;
  cursor: pointer;
  width: 25px;
  height: 25px;
  z-index: 5;
}

.hamburger-icon {
  transform: translateY(-50%);
}

.hamburger-icon,
.hamburger-icon:before,
.hamburger-icon:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  transition: all 0.2s ease;
}

.hamburger-icon {
  top: 50%;
}
.hamburger-icon:before {
  top: -8px;
}
.hamburger-icon:after {
  top: 8px;
}

.hamburger-active .hamburger-icon-container {
  z-index: 100;
  right: 0;
}

.hamburger-active .hamburger-icon {
  transform: rotate(45deg) translate(-3px, -3px);
}

.hamburger-active .hamburger-icon:before,
.hamburger-active .hamburger-icon:after {
  top: 0;
}

.hamburger-active .hamburger-icon:before {
  transform: rotate(90deg);
}

.hamburger-active .header .container {
  background: #000;
}

.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 5;
}

header img {
  width: 100%;
  height: auto;
}

.header__logo {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header__nav_address {
  position: relative;
}

.header__nav_address-list {
  display: none;
  position: absolute;
  top: 30px;
  left: -90%;
  right: -90%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  background: #fff;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  & a {
    color: $accent-color !important;
    border-bottom: 1px $accent-color dashed;
    font-size: 20px;
    margin-bottom: 10px;

    &:hover {
      color: $accent-color !important;
      border-color: $accent-color;
    }
  }
}

.header__nav_address a.link {
  border-bottom: 1px $accent-color dashed;
  line-height: 18px;
  position: relative;
  color: $accent-color !important;

  &:hover {
    border-color: $accent-color;
  }

  &:before {
    content: '';
    position: absolute;
    width: 13px;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    height: 13px;
    z-index: 6;
    background-image: url("../img/city-mobile.svg");
  }
}

.header__nav_address:hover .header__nav_address-list {
  display: flex;
}


.header-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__phone {
  padding: 7px;
  width: 27px;
  height: 27px;
  background: #FFFFFF;
  border: none;
  border-radius: 50%;
  margin-left: 20px;
  display: flex;

  &:hover {
    background: $accent-color;

    & svg {
      fill: #fff;
    }
  }
}

.header__social {
  padding: 7px;
  width: 27px;
  height: 27px;
  background-color: #37AFF2;
  border: none;
  border-radius: 50%;
  background-image: url("../img/icon-telegram-header.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;
  margin-right: 10px;

  &:hover {
    opacity: 0.6;
  }
}

.header__nav {
  position: absolute;
  z-index: 6;
  padding: 20px;
  top: 67px;
  width: 100%;
  height: 300px;
  right: 0;
  background: rgba(255, 255, 255, 0.95);

  & ul {
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    & li {
      margin: 10px 0;
    }

    & a.link {
      color: #909090;
      text-align: center;
      font-size: 20px;
      line-height: 24px;
    }
  }
}

.header__nav_phone,
.header__nav_logo
{
  display: none;
}


@media (min-width: 1200px) {
  .header-right,
  .header__logo {
    display: none;
  }

  .header__nav {
    display: flex;
    position: static;
    background: none;
    width: 100%;
    padding-top: 15px;
    height: auto;

    & ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: auto;

      & a.link {
        color: #fff;
        font-size: 1rem;

        &:hover {
          color: $accent-color;
        }
      }
    }
  }

  .header__nav_address,
  .header__nav_phone,
  .header__nav_logo {
    display: flex;
  }


  .header__nav_address-list {
    display: none;
    position: absolute;
    top: 20px;
    left: -20px;
    right: -90px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #E6E6E6;
    background: #fff;

    & a {
      color: #000 !important;
      border-bottom: 1px #000 dashed;
      font-size: 1rem;

      &:hover {
        color: $accent-color !important;
        border-color: $accent-color;
      }
    }
  }




  .header__nav_phone a {
    width: auto;
    height: auto;
    padding: 10px 20px;
    border: 2px solid #FFFFFF;
    border-radius: 4px;

    &:hover {
      border-color: $accent-color;
    }
  }

  .header .container {
    margin-top: 0;
  }

  .header__nav_logo {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    & a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .header__nav ul li {
    margin: 0;
  }
}

